<!doctype html>
<head>
    <title>Lizard Blue Report Creation</title>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.gif') }}">
</head>
<body style="padding-top:4.5rem">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-4">
      <a class="navbar-brand" href="#">Lizard Blue</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" class="disabled">Report Submission</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://www.example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/report?name=lizards_in_qatar.png">Lizards in Qatar Report</a>
              <a class="dropdown-item" href="/report?name=common_basilisk_lizard.png">Common Basilisk Lizard Report</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="jumbotron">
        <h1>Report Submission</h1>



        <form action = "/report_creation" method = "POST">
            <p><h3>Enter report XML</h3></p>
            <textarea class="input" name="xml" cols="100" rows="10"></textarea>
            <p>
                <button type='submit' class="btn btn-primary">Submit</button>
            </p>
        </form>

        {% if results %}
          {{ results }}
        {% endif %}

        {% if error %}
            {{ error_message }}
        {% endif %}

      </div>
    </main>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="view-source:https://getbootstrap.com/docs/4.0/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>